name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main, "[0-9]+-[0-9]+-*"]
  workflow_run:
    workflows: ["Build for Dependabot"]
    types:
      - completed
  workflow_dispatch:

jobs:
  build:
    name: Build
    if: |
      ${{ 
        !startsWith(github.head_ref, 'workflows/tests/') && (
          (github.event_name == 'pull_request' && github.actor != 'dependabot[bot]') ||
          (github.event_name == 'workflow_run' && github.actor == 'dependabot[bot]')
        )
      }}
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          check-latest: true

      - name: Install dependencies
        run: yarn install

      - name: Build
        run: yarn build

      - name: Package
        run: yarn package

      - uses: CatChen/check-git-status-action@v1
        with:
          fail-if-not-clean: true
          push-if-not-clean: true
          github-token: ${{ secrets.CHECK_GIT_STATUS_ACTION_TOKEN }}
