name: Dependabot

on:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  label:
    name: Label
    if: ${{ !startsWith(github.head_ref, 'workflows/tests/') && github.actor == 'dependabot[bot]' && github.actor_id == 49699333 }}
    permissions:
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2

      - name: Add label for types group
        if: ${{ steps.dependabot-metadata.outputs.dependency-group == 'types' }}
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          gh pr edit "$PR_NUMBER" --repo "$REPO" --add-label "pass2ship"
          gh api \
            --method DELETE \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/$REPO/pulls/$PR_NUMBER/requested_reviewers" \
            -f "reviewers[]=CatChen"

      - name: Add label for development-dependencies group
        if: ${{ steps.dependabot-metadata.outputs.dependency-group == 'development-dependencies' }}
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          gh pr edit "$PR_NUMBER" --repo "$REPO" --add-label "pass2ship"
          gh api \
            --method DELETE \
            -H "Accept: application/vnd.github+json" \
            -H "X-GitHub-Api-Version: 2022-11-28" \
            "/repos/$REPO/pulls/$PR_NUMBER/requested_reviewers" \
            -f "reviewers[]=CatChen"
