name: Label

on:
  pull_request:
    branches: [main]
    types: [opened]
  workflow_dispatch:

jobs:
  label:
    name: Label
    if: ${{ github.actor == 'dependabot[bot]' && github.actor_id == 49699333 }}
    runs-on: ubuntu-latest
    steps:
      - name: Add label for types group
        if: ${{ contains(github.event.pull_request.title, 'Bump the types group') }}
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
        run: gh pr edit --repo "$REPO" --add-label "pass2ship"

      - name: Add label for development-dependencies group
        if: ${{ contains(github.event.pull_request.title, 'Bump the development-dependencies group') }}
        env:
          GH_TOKEN: ${{ github.token }}
          REPO: ${{ github.repository }}
        run: gh pr edit --repo "$REPO" --add-label "pass2ship"
